<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="main" class="main"></div>
	<script type="text/javascript" src="/staticPub/js/jquery.min.js"></script>
	<script type="text/javascript" src="/staticPub/js/common.js"></script>
	<script type="text/javascript" src="/staticPub/js/index.entry.js"></script>
	
	{{> footer.tpl}}
</body>
</html>