@charset "utf-8";
.book_content {
	font-size:16px;	
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
	background: #f8f8f8;
	line-height: 32px;
}
h2.book_title {
	text-indent: 15px;
	font-size: 24px;
}

.book-nav {
	margin: 0 0 10px 0;
}
.book-nav a{
	padding:6px;
	margin-right:6px;
}
.book-nav.book-top-nav {
	margin:30px 0 0 0;
}
.reload{
	display: block;
	width:100%;
	text-align: center;
}

