@charset "utf-8";
.book-list {
	text-align: center;
}
.book-list li{
	display:inline-block;
	width:128px;
	height:156px;
	border:1px solid #666;
	margin-right:10px;
	overflow: hidden;
	background: #57513e;
}
.book-list li:nth-child(1) {
	background:#fe5e3f;
}
.book-list li:nth-child(2) {
	background:#fdaa56;
}
.book-list li:nth-child(3) {
	background:#e2d442;
}
.book-list li:nth-child(4) {
	background:#63ee00;
}
.book-list li:nth-child(5) {
	background:#38b0f4;
}
.book-list li:nth-child(6) {
	background:#17681c;
}
.book-list li a{
	display:table;
	text-decoration: none;
	text-align: center;
	width:100%;
	height:100%;
	color:#fff;
}
.book-list li a span{
	display: table-cell;
	vertical-align: middle;
}

