@charset "utf-8";
.book-list {
	text-align: center;
}
.book-list li{
	display:inline-block;
	width:128px;
	height:156px;
	border:1px solid #666;
	margin-right:10px;
	overflow: hidden;
	background: #447169;
}
.book-list li a{
	display:table;
	text-decoration: none;
	text-align: center;
	width:100%;
	height:100%;
	color:#fff;
}
.book-list li a span{
	display: table-cell;
	vertical-align: middle;
}

