@charset "utf-8";
body{font-family: 'Microsoft YaHei', '黑体', '宋体'; background:#efefef;}
.hide {display: none;}
.header{
	width:100%;
}

.footer{
	width:100%;
	text-align: center;
}
.book_name{
	font-size:28px;
	padding:10px 0;
}