@charset "utf-8";
.fiction-list {
	text-align: center;
}
.fiction-list li{
	display:inline-block;
	width:128px;
	height:156px;
	border:1px solid #666;
	margin-right:10px;
	overflow: hidden;
	background: #598;
}
.fiction-list li:nth-child(1) {
	background:#958;
}
.fiction-list li a{
	display: block;
	text-align: center;
	margin-top: 50%;
	width:100%;
	height:100%;
	color:#fff;
}

